.about{
    width: 1120px;
    margin: 0 auto;

    &__article{
        width: 833px;
        font-size: 31px;
        font-weight: 300;
    }
    &__subtitle{
        font-size: 31px;
        font-weight: 300;
    }
}
