.about{
    min-width: 1120px;
    width: 100%;
    margin: 0 auto;

    &__article{
        width: 24em;
        font-size: 1em;
        font-weight: 300;
    }
    &__subtitle{
        font-size: 14px;
        font-weight: 300;
    }
}
