.cover{
   
       background: url(/src/img/cover.png);
    //    background-position: center;
       background-repeat: no-repeat; 
       background-size: 100% 82%;
    //    width: 1600px;
    //    height: 1450px;
       margin: 0 auto;
    

    &__intro{
        display: flex;
        flex-direction: column;
        width: 566px;
        margin: 0 auto;
        text-align: center;
        // padding-top: 160px;
        // padding-bottom: 90px;
        padding: 160px 0 90px 0;
    }

    &__title{
        order: 2;
        width: 560px;
        font-size: 80px;
        margin: 0;
        font-weight: 300;
        color: $white;
        text-transform: uppercase;
        margin: 0 auto;
    }

    &__subtitle{
        width: 365px;
        font-size: 38px;
        font-weight: 300;
        color: $white;
        margin: 0 auto;
    }

    &__btn{
        order: 3;
        align-self: center;
        border: 1px solid $white;
        background: transparent;
        width: 165px;
        height: 60px;
        border-radius: 40px;
        color: $white;
        font-size: 24px;
        line-height: 1;
        font-weight: 300;
        margin-top: 25px;
        outline: none;
    }
    &__btn:hover{
        box-shadow: 1px 4px 20px rgba(0,0,0,0.1);
    }
    
    &__promo{
        display: flex;
        align-items: flex-end;
        width: 1120px;
        margin: 0 auto;
    }
    &__promo-title{
        width: 210px;
        margin: 0;
    }
    &__promo-subtitle{
        font-size: 19px;
        font-weight: 700;
        color: $title;
    }
    &__wrap{
        align-self: center;
    }
    &__photo{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
        height: 500px;
    }
    &__picture{
        margin: 5px;
    }
    &__img{
        border: 5px solid #f2f5f6;
    }
    &__link{
        flex-basis: 435px;
        text-align: end;
    }
}


.circle{
    position: relative;
    top: -85px;
    left: 245px;
    &__inner{
        position: absolute;
        content: "";
        top: -115px;
        left: 0;
        // border: 1px solid transparent;
        background: linear-gradient(45deg, transparent, #B0B6C0);
        box-shadow: 0 10px 28px rgba(0,0,0,0.25), 0 0px 0px rgba(0,0,0,0.22);
        width: 79px;
        height: 79px;
        border-radius: 50%;
    }
    &__circle{
        position: absolute;
        content: "";
        top: 12px;
        left: 12px;
        // border: 1px solid rgba(255, 255, 255, 0);
        border: none;
        background-color: rgba(255, 255, 255, 1);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        }
}